.logo{
    width: 8em;
    height: 8em;
    margin: 0.5em;
}
.header{
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
}
.nav-items{
    display: flex;
}
.nav-items > ul {
    display: flex;
    list-style-type: none;
    margin: 3.5em 3em;
    font-size: 18px;
    font-weight: 600;
}
.nav-items > ul  > li {
    margin: 0em 2.5em;
}
.btn-login{
    width: 100px;
    height: 50px;
    margin: 3.5em 3em 3.5em 0em;
  }

.search{
    margin: 2em;
}
.restaurant-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.restaurant-card{
    margin: 2em;
    width: 250px;
    border: 1px solid purple;
    padding: 2.5% 1.5% 0 2.5%;
}

.restaurant-image{
    width: 95%;
    height:45%;
}

.filter-btn{
    background-color: #ac94c4;
    cursor: pointer;
    margin: 0 1em;
    width: 160px;
    height: 30px;
    border-radius: 5px;
}

  .filter{
    display: flex;
  }

  .search-box{
   margin: 2em; 
  }

  .btn-search{
    background-color: #ac94c4;
    margin : 0 1em;
    cursor: pointer;
    width: 75px;
    height: 30px;
    border-radius: 5px;
  }

  .search-field{
    padding: 0.5em;
    
  }

.shimmer-body {
    margin: 10px;
    background-color: white; /* Set background color to match BodyLayout */
  }
  
  .shimmer-filter {
    margin: 2em 0;
    display: flex;
    align-items: center;
  }
  
  .shimmer-filter-btn {
    margin-left: 0.5em;
    height: 25px;
    width: 170px;
    border: 1px solid black;
  }
  
  .shimmer-restaurant-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ac94c4; /* Set background color to match RestaurantCard */
  }
  
  .shimmer-card {
    margin: 20px;
    width: 325px;
    height: 500px;
    border-radius: 10px;
    background: linear-gradient(to right,  #9a8ea8 10%,  #ac91c7 20%,  #ac94c4 30%);
    animation: shimmer 1.5s infinite linear;
  }
  
  .shimmer {
    background: linear-gradient(to right, #f0f0f0 10%, #e0e0e0 20%, #f0f0f0 30%);
    animation: shimmer 1.5s infinite linear;
  }
  
  @keyframes shimmer {
    100% {
      background-position: 200% 0;
    }
  }
